h1 {
    text-align: center;
}

#container {
    background-color: blue;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid blue;
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around;  */
    justify-content: space-evenly; 
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

#container div {
    width: 200px;
    height: 200px;
    
}